
@use './components/base';
@use './components/nav';
@use './components/hero';
@use './components/about';
@use './components/service';
@use './components/work';
@use './components/contact';
@use './components/footer';