@use './base' as *;


.footer {

    background-color: var(--color-bg-dark);

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        font-family: $title-font;
        font-size: 1.4rem;
        color: var(--color-text-light);
        padding: 2rem 1rem;
    }
}