@use './base' as *;

.nav {

    background-color: var(--color-primary);

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto; // default
        // grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));

        padding: 2rem 1rem;

    }


    &__list {
        justify-self: right;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        list-style: none;
        text-transform: uppercase;
    }

    &__link {
        font-family: $title-font;
        font-size: 1.4rem;
        color: var(--color-bg-light);
        transition: all .3s;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-btn-yellow);
        }
    }
}